body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

h2{
    text-align: center;
    margin:2rem 0;
}

div{
    text-align: center;
    margin: 1rem 0;
}

label{
    margin-right: 1rem;
}

select{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border:1px solid black;
    margin-right: 1rem;
}

#card-container{
    width:90%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.employee-card{
    width:15%;
    margin:1rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    text-align: center;
    background-color: white;
}

.employee-card img{
    width: 60%;
    border-radius: 50%;
}

#prev-page,
#next-page {
    padding: 1rem 2rem;
    background-color: #007bff;
    color: white;
    border:none;
    border-radius: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
}

#prev-page:hover,
#next-page:hover {
    background-color: rgb(75, 65, 68);
}
